# FastAPI 프레임워크
# Spring Boot의 @RestController + DispatcherServlet 역할과 비슷
# REST API 서버를 쉽게 개발할 수 있음
fastapi>=0.111.0


# ASGI 서버(Uvicorn)
# Spring Boot의 Tomcat과 비슷한 역할
# [standard] 옵션은 uvloop, websockets 등의 성능 패키지를 함께 설치
uvicorn[standard]>=0.29.0


# ORM(Object Relational Mapping)
# Spring JPA(Hibernate)와 거의 같은 역할
# Python 객체와 데이터베이스 테이블을 매핑
sqlalchemy>=2.0.0


# MySQL 데이터베이스 드라이버
# Spring의 mysql-connector-j 와 비슷
# SQLAlchemy가 MySQL에 접속할 때 사용
pymysql>=1.1.0


# JWT(Json Web Token) 생성 및 검증 라이브러리
# Spring Security + JWT와 비슷
# 로그인 후 Access Token 생성 및 검증
python-jose[cryptography]>=3.3.0


# 비밀번호 암호화 라이브러리
# Spring의 BCryptPasswordEncoder와 동일한 역할
# 비밀번호를 해시 암호화
passlib==1.7.4


# bcrypt 버전 고정
# passlib 1.7.4와 bcrypt 5.x 버전은 충돌 문제가 있음
# 따라서 안정적인 4.0.1 버전으로 고정
bcrypt==4.0.1


# .env 파일 읽기
# DB 비밀번호, JWT Secret 등을 코드에 직접 작성하지 않고
# 환경변수 파일(.env)에서 읽을 때 사용
python-dotenv>=1.0.0


# Pydantic 데이터 검증
# Spring DTO + @Valid + Bean Validation과 비슷
#
# 예)
# class User(BaseModel):
#     age: int = Field(..., ge=1)
#
# email 옵션은 EmailStr 타입 사용 가능
pydantic[email]>=2.7.0


# 테스트 프레임워크
# Spring Boot의 JUnit와 비슷
# 단위 테스트(Unit Test) 작성
pytest>=8.0.0


# HTTP 클라이언트 라이브러리
# 테스트 시 API 호출에 많이 사용
#
# 예)
# response = client.get("/users")
#
# Spring의 MockMvc와 비슷한 용도로 사용
httpx>=0.27.0
python-multipart>=0.0.9